<!-- Carousel Content -->
    <div class="body-wrap content baner">
        <div class="container-fluid content-row">
                <a id="carouselRow"></a>
    <div class="wb-carousel js-wb-carousel is-paused" id="carousel_b0787bf1" aria-live="polite">
        <div class="wb-carousel__controls" aria-controls="carousel">
            <button class="wb-carousel__controls__button js-wb-carousel__controls__button js-wb-carousel__controls__button--back">
                <i class="material-icons">&#xE5CB;</i><span class="wb-sr-only">Previous slide</span>
            </button>
            <button class="wb-carousel__controls__button wb-carousel__controls__button--pause-play js-wb-carousel__controls__button js-wb-carousel__controls__button--pause-play">
                <span class="wb-carousel__controls__button__pause-icon">
                    <i class="material-icons">&#xE036;</i>
                    <span class="wb-sr-only">Pause</span>
                </span>
                <span class="wb-carousel__controls__button__play-icon">
                    <i class="material-icons">&#xE039;</i>
                    <span class="wb-sr-only">Play</span>
                </span>
            </button>
            <button class="wb-carousel__controls__button js-wb-carousel__controls__button js-wb-carousel__controls__button--forward">
                <i class="material-icons">&#xE5CC;</i><span class="wb-sr-only">Next slide</span>
            </button>
        </div>
        <ul class="wb-carousel__items">
                <li class="wb-carousel__items__slide js-wb-carousel__items__slide ">
                    <div class="wb-carousel__desktop__bg" style="background-color:#;background-image: url('https://financialservices.coles.com.au/~/media/financial-services/images/banner-desktop/adobe-target/credit-cards/digital-offers/100off-cc-t2-desktop.gif')">
                        <div class="wb-carousel__mobile__bg" style="background-color:#da2128;background-image: url('https://financialservices.coles.com.au/~/media/financial-services/images/banner-mobile/adobe-target/credit-cards/digital-offers/100off-cc-t2-mobile.gif')">
                            <div class="wb-carousel__content">
<div class="wb-carousel__content__text">
<h1 class="wb-space-below-none wb-h1--feature text-white">Fancy $100 off your<br />
Coles shop?</h1>
<h3 class="wb-h2--feature wb-space-below-lg text-white">When you apply for ANY Coles Mastercard <br />
by 30 June 2019, are approved and spend in the first 30 days.<sup>*</sup></h3>
<a href="#data_three" class="btn secondary-green wb-btn--feature wb-space-left-lg wb-btn--feature-popup" style="text-align: right;">Get Started</a>
</div>
</div>
                        </div>
                    </div>
                </li>
                <li class="wb-carousel__items__slide js-wb-carousel__items__slide is-hidden">
                    <div class="wb-carousel__desktop__bg" style="background-color:#;background-image: url('https://financialservices.coles.com.au/~/media/financial-services/images/banner-desktop/credit-cards/rewards-promo/rewards-mastercard-cc-hp-rewards-promo-desktop.gif')">
                        <div class="wb-carousel__mobile__bg" style="background-color:#da2128;background-image: url('https://financialservices.coles.com.au/~/media/financial-services/images/banner-mobile/credit-cards/rewards-promo/rewards-mastercard-cc-hp-rewards-promo-mobile.gif')">
                            <div class="wb-carousel__content">
<div class="wb-carousel__content__text">
<h1 class="wb-space-below-none wb-h1--feature ">Reward yourself</h1>
<h3 class="wb-h2--feature wb-space-below-lg ">Collect 2 flybuys points per $1 on eligible spend with a Coles Rewards Mastercard.<sup>#</sup></h3>
<a class="btn secondary-green wb-btn--feature wb-space-left-lg initrewardscardbtn" style="display: none;">Get Started</a>


<p style="margin-top: 10px;text-align: right;margin-right: 25px;" class="only-for-desktop"><a class="cc-module__link" href="/credit-cards/rewards-mastercard">Find out more</a></p>

<p class="only-for-mobile displayinnewline" style="margin-top:5px; padding-left:13px;"><a class="cc-module__link" href="/credit-cards/rewards-mastercard">Find out more</a></p>

















</div>
</div>
                        </div>
                    </div>
                </li>
                <li class="wb-carousel__items__slide js-wb-carousel__items__slide is-hidden">
                    <div class="wb-carousel__desktop__bg" style="background-color:#;background-image: url('https://financialservices.coles.com.au/~/media/financial-services/images/banner-desktop/adobe-target/credit-cards/coles-credit-card-velocity-travel-plane-banner.jpg')">
                        <div class="wb-carousel__mobile__bg" style="background-color:#;background-image: url('https://financialservices.coles.com.au/~/media/financial-services/images/banner-mobile/adobe-target/credit-cards/coles-credit-card-velocity-travel-plane-mobile.jpg')">
                            <div class=" wb-carousel__content">
<div class="wb-carousel__content__text">
<h1 class="wb-space-below-none wb-h1--feature only-for-mobile">A faster way to fly</h1>
<h1 class="wb-space-below-none wb-h1--feature only-for-desktop">A faster way to fly</h1>
<h3 class="wb-h2--feature wb-space-below-lg ">You can now transfer your flybuys <br />
points to Velocity Points.<sup>~</sup></h3>
<a class="btn secondary-red wb-btn--feature wb-space-left-lg" href="/credit-cards/about-our-credit-cards/flybuys#flybuys-travel">Find out more</a>
</div>
</div>
                        </div>
                    </div>
                </li>
        </ul>
        <ul class="wb-carousel__indicator js-wb-carousel__indicator">
                <li class="wb-carousel__indicator__tab">
                    <button class="wb-carousel__indicator__button js-wb-carousel__indicator__button ">
                        <div class="wb-mini-promo__image ">
                            <img src='https://financialservices.coles.com.au/~/media/financial-services/images/credit-cards/$100 off shop/$100-off-roundel-105x84px.png' alt='""' />
                        </div>
                        <div class="wb-mini-promo">
                            <h6 class="wb-mini-promo__head">Coles Credit Cards</h6>
                            <strong class="wb-mini-promo">$100 off a Coles shop</strong>
                        </div>
                    </button>
                </li>
                <li class="wb-carousel__indicator__tab">
                    <button class="wb-carousel__indicator__button js-wb-carousel__indicator__button ">
                        <div class="wb-mini-promo__image wb-mini-promo__image--high">
                            <img src='https://financialservices.coles.com.au/~/media/financial-services/images/credit-cards/53768r_cfs_rewards_infosite_desktop_credit-card.png' alt='Coles Rewards Mastercard' />
                        </div>
                        <div class="wb-mini-promo">
                            <h6 class="wb-mini-promo__head">Coles Rewards Mastercard</h6>
                            <strong class="wb-mini-promo">Turn your flybuys points into rewards<sup>#</sup></strong>
                        </div>
                    </button>
                </li>
                <li class="wb-carousel__indicator__tab">
                    <button class="wb-carousel__indicator__button js-wb-carousel__indicator__button ">
                        <div class="wb-mini-promo__image wb-mini-promo__image--higher">
                            <img src='https://financialservices.coles.com.au/~/media/financial-services/images/banner-thumbnails/coles-credit-card-velocity-travel.png' />
                        </div>
                        <div class="wb-mini-promo">
                            <h6 class="wb-mini-promo__head">Coles Rewards Mastercard</h6>
                            <strong class="wb-mini-promo">Turn your flybuys points<br> into Velocity Points<sup>~</sup></strong>
                        </div>
                    </button>
                </li>
        </ul>
    </div>

            
        </div>
    </div>
    <!--// Carousel Content -->